.circle-back,
.circle-front {
  @apply absolute top-0 left-0 h-full w-full;
}

.circle-back svg,
.circle-front svg {
  @apply relative block h-full w-full fill-none;
}

.circle-back circle {
  stroke: #302f35;
  stroke-width: 0.75;
}

.circle-front circle {
  stroke: #302f35; /* Màu border chạy */
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 301.44; /* Chu vi = 2 * π * 48 */
  stroke-dashoffset: 301.44;
  transform: rotate(-90deg);
  transform-origin: center;
}
