.elAnimation {
  &[data-animation='ease-bottom-to-top'] {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10vh);
  }
  &[data-animation='ease-bottom-to-top-scaled'] {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10vh) scale(0.9);
  }
  &[data-animation='clip-top-to-bottom'] {
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    .imageScale {
      transform: scale(1.2);
    }
  }
  &[data-animation='ease-left-to-right'] {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10vw);
  }
  &[data-animation='ease-right-to-left'] {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10vw);
  }
  &[data-animation='scrumbleText'] {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(10vh); */
  }
  &[data-animation='road'] {
    svg {
      g {
        opacity: 0;
      }
    }
  }
  &[data-animation='ease-scale'] {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
  }
  &[data-animation='ease-stagger-list'] {
    .home-rel-product {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10vh) scale(0.9);
    }
  }
}
