#root {
  margin: 0;
  overflow: hidden;
  height: auto;
  width: 100%;
}

header.scrolled {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

header.scrolled-mob {
  background-color: #1d1d1d;
  transition: background-color 0.5s ease-in-out;
}

.circle-back,
.circle-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-back svg,
.circle-front svg {
  position: relative;
  width: 100%;
  height: 100%;
  fill: none;
  display: block;
}

.circle-back circle {
  stroke: #302f35; /* Màu nền vòng tròn */
  stroke-width: 0.75;
}

.circle-front circle {
  stroke: #302f35; /* Màu border chạy */
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 301.44; /* Chu vi = 2 * π * 48 */
  stroke-dashoffset: 301.44; /* Bắt đầu ẩn hoàn toàn */
  transform: rotate(-90deg); /* Bắt đầu từ đỉnh */
  transform-origin: center;
}
