@import "tailwindcss";

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Humane Grotesque";
  src: url("./assets/fonts/Humane/Humane-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-humane: "Humane Grotesque", sans-serif;
  --text-h2: 15vw;
  --leading-full: 100%;
}

html {
  /* Firefox */
  scrollbar-width: none;
  /* Ẩn nhưng vẫn cho phép cuộn */
  overflow-y: scroll;
}

/* Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  border-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
