@import 'https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap';
@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

@import './styles/swiper.css';
@import './styles/animation.css';
@import './styles/slider.css';
@import './styles/components/index.css';

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-humane: 'Humane Grotesque', sans-serif;
  --font-permanent-marker: 'Permanent Marker', cursive;
  --color-primary: #1d1d1d;
  --color-primary-hover: #616161;
  --color-secondary: #fd7453;
  --color-secondary-hover: #fd5932;
  --color-surface: #e1e1e1;
  --color-surface-dark: #302f35;
  --color-accent-gray: #a9afa4;
  --color-everest: #93a7a8;
  --leading-full: 100%;
  --duration-350: 350ms;
}

html {
  scrollbar-width: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-surface);
  color: var(--color-primary);
}

img {
  border-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 48rem) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
