@import 'https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap';
@import 'tailwindcss';

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Grotesque';
  src: url('./assets/fonts/Humane/Humane-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-humane: 'Humane Grotesque', sans-serif;
  --font-permanent-marker: 'Permanent Marker', cursive;
  --color-primary: #1d1d1d;
  --color-secondary: #fd7453;
  --leading-full: 100%;
}

html {
  /* Firefox */
  scrollbar-width: none;
  /* Ẩn nhưng vẫn cho phép cuộn */
  overflow-y: scroll;
}

/* Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  border-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}
@media (min-width: 48rem /* 768px */) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
